
/*These are the only extra css lines needed to achieve the results of the homework.
There is currently no option to increase border size via bootstrap */


body {
    background-image: url(./Assets/Images/texture-2389190_960_720.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif
} 

footer {
    border-top: 5px solid!important;
}
