

body {
    background-image: url(./Assets/Images/texture-2389190_960_720.jpg);
} 

/*.main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 30px;
    padding-bottom: 30px;
} */



/* #submit1 {
    color: white;
    background-color: teal;
    border-radius: 0;
    border: 10px teal solid;
    padding: 10px;
} */

/*footer {
    background-color: gray;
    border-top: teal 5px solid; 
}*/
